html {
    height: 100%;
}

body {
    height: 100%;
}

main {
    /* padding: 50px; */
    display: flex;
    flex-direction: row;
}


#container {
    display: grid;
    
    /* grid-template-columns: repeat(4, minmax(100px, auto));*/
    grid-template-rows: auto minmax(auto, 100%);
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
    height: 100%;
}


    #container nav {
        grid-area: header;
    }

    #container nav li {
        margin-left:10px; 
    }

        #container nav a {
        color: white;
    }

    #container main {
        padding: 50px;
        font-size:10px;
        grid-area: main;
        overflow-y: auto;
        display: grid;
        grid-template-rows: repeat(5, auto);
    }


    #container main #AffichageCVForm {
        padding: 20px;
        background-color: #999999;
    }

    #container main #AffichageCVForm #DonneesParCv {
       padding:10px;
    }

    /* a conserver les 2 classes ci dessous pour le toggle class en jquery*/

    #container main #AffichageCVForm #DonneesParCv span.green {
        font-size: 1.5em;
        color: green
    }

    #container main #AffichageCVForm #DonneesParCv span.black {
        font-size: 1.5em;
        color: black;
    }

    /*---------------*/

    #container main h1{
        font-size:14px;
    }

    #container main h2 {
        font-size: 12px;
    }

    #container main .panel-body div {
        border: 1px solid black;
    }

    #container main #AffichageCVForm{
        font-size: 9px;
    }
        
    #container main span.action {
        color: red;
        font-size: 12px;
    }

    #container footer {
        padding: 20px;
        background-color: #999999;
        color: white;
        grid-area: footer;
    }
