@model CVtheque.Web.Models.CVVM

@{
    ViewBag.Title = "CV";
    Layout = null;
}



<div class="row" style="border:1px solid black">

    <div class="col-3" style="background-color:blue; height : 100vh;">



    </div>

    <div class="col-9" style="background-color:white;">



    </div>

    <div class="" style="height:80px; width:100%; position:absolute; margin-top:80px; margin-left:0px; background-color:grey"></div>

    <div class="" style="height:200px; width:160px; position:absolute; margin:40px; background-color:black"></div>


</div>