@model ICollection<CVtheque.Web.Models.CVVM>

@{
    //ViewBag.Title = "CVs";
    Layout = null;
}

@{ 
    if(Model.Count() == 0)
    {
        <p>Vous n'avez pas encore de CV en ligne.</p>
    }
    else
    {

        <br />

        <div class="row grid-striped bg-primary">
            <div class="col-8">
                Titre
            </div>

            <div class="col-4">

            </div>
        </div>

        <form action="/CV/DeleteCV" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#AffichageCVs" id="CVform0" method="post" novalidate="novalidate">

            @for (int i = 0; i < Model.Count(); i++)
            {

                <div class="row grid-striped">

                    <div class="col-8">
                        <input type="hidden" name="cvs[@i].Id" value="@Model.ElementAt(i).Id" />
                        <input type="hidden" id="tobedel_@i" name="cvs[@i].ToBeDeleted" value="false" />
                        @Model.ElementAt(i).Titre
                    </div>

                    <div class="col-4">
                        <button type="button" class="btn btn-light btn-sm">
                            <span style="font-size: 1em; color: green;">
                                <i class="fas fa-edit" data-internalid="@Model.ElementAt(i).Id"></i>
                            </span>
                        </button>
                        <button type="button" class="btn btn-light btn-sm">
                            <span style="font-size: 1em; color: red;">
                                <i class="fas fa-trash-alt" data-internalid="@i"></i>
                            </span>
                        </button>
                    </div>
                </div>

            }

            <br />

            <button type="button" class="btn btn-light">
                <span style="font-size: 1.2em; color: green;">
                    <i class="fas fa-plus-square"></i>
                </span>
            </button>

        </form>

    }
}