@{
    ViewBag.Title = "Donnees";
    Layout = null;
}


<div class="container" id="DonneesParCv">

    <div class="row">

        <div class="col-12">

            <h2>
                Modèles
            </h2>

            mes modèles de CV<br />
            mes modèles de CV<br />
            mes modèles de CV<br />
            mes modèles de CV<br />
            mes modèles de CV<br />
            mes modèles de CV<br />
            mes modèles de CV<br />

            <h2>
                Formations
            </h2>
            <div id="formations">
                @Html.Action("Formations")
            </div>

            <h2>
                Competences
            </h2>
            <div id="competences">
                @Html.Action("Competences")
            </div>

            <h2>
                Experiences
            </h2>

            <div id="experiences">
                @Html.Action("Experiences")
            </div>

            <h2>
                Langues
            </h2>

            <div id="langues">
                @Html.Action("Langues")
            </div>
        </div>
    </div>
</div>

